.description-input {
  height: 5rem;
  color: #FCFAF7;
}

.description-input::placeholder {
  color: #FCFAF7;
}

.photo-input {
  display: none;
}

.file-upload {
  text-align: center;
  margin-bottom: 1.5rem;
}

.next-button {
  width: 6rem;
  align-self: center;
}

.modal-error-message {
  align-self: center;
}

.large-image {
  width: 70%;
}

.upload-image-heading {
  margin-bottom: 1rem;
  font-weight: 600;
}

.plant-form-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#new-plant-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .large-image {
    width: 25%;
    border-radius: 1rem;
  }

  .image-input-img {
    cursor: pointer;
  }


}