#home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page-header {
  padding: 0 2rem;
}

.logo-container {
  width: 60%;
  max-width: 270px;
  min-width: 180px;
  margin-bottom: 7rem;
  position: absolute;
}

.logo-img {
  width: 100%;
}

.home-page-grid {
  width: 100%;
}

.home-page-element {
  background-color: #dcd5cd;
  color: black;
  padding: 2rem;
  margin: 1rem;
  border-radius: 10px;
}

.card-header {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.daily-tasks-count {
  font-size: 0.8rem;
  font-weight: 400;
}

.journal-entry {
  /* border: 0.5px solid black;
  border-radius: 10px; */
  padding: 0.5rem 0;
  font-style: italic;
}

.menu-bars {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 24px;
}

.menu-bar {
  width: 100%;
  height: 4px;
  background-color: #fcfaf7;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.mobile-nav-modal {
  display: none;
}

.profile-icon-container {
  width: 10%;
  max-width: 40px;
  min-width: 30px;
  cursor: pointer;
  position: relative;
  z-index: 100;
  margin-right: auto;
}

.profile-icon-container img {
  width: 100%;
}



#weather-container {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: 1rem;
  width: 90%;
  min-height: 63px;
}

.temperature-icon-container,
.weather-icon-container  {
  width: 10%;
}

.temperature-icon-container img,
.weather-icon-container img {
  width: 100%;
}

.weather-icon-container {
  max-width: 36px;
  margin-left: auto;
  margin-right: 0.5rem;
}

.temperature {
  font-size: 1rem;
  font-weight: 200;
  cursor: default;
}

.daily-tasks {
  display: flex;
  margin-right: auto;
  /* margin-left: 1.5rem; */
}


.daily-task-text,
.daily-task-count {
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 0.9rem;
  color: #fcfaf7;
}

.daily-task-count {
  margin-left: 0.5rem;
}

.daily-task-text {
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.welcome-message-container,
#toggle-mobile-view {
  display: none;
}

@media screen and (min-width: 1024px) {
  #home-page {
    justify-content: flex-start;
  }

  .logo-container {
    display: none;
  }

  .profile-icon-container {
    position: relative;
    align-self: center;
    margin-left: auto;
    margin-top: 2rem;
    margin-right: 2rem;
    z-index: 100;
  }

  #weather-container {
    display: none;
    align-self: flex-end;
    margin-bottom: 0;
  }

  .underline {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
  }

  .welcome-message-container {
    display: block;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
  }

  #home-page-action-button {
    background-color: #9FD653;
    color: black;
    cursor: pointer;
    padding: 0.8rem 1.5rem;
  }

  #home-page-action-button:hover {
    background-color: #b5f161;
  }

  #toggle-mobile-view {
    display: block;
    white-space: nowrap;
    font-size: 0.8rem;
    cursor: pointer;
    padding-right: 1rem;
  }

  #mobile-view-window {
    position: absolute !important;
    background-color: white;
    width: 375px;
    height: 667px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    position: relative;
    z-index: 4;
    align-self: center;
    margin-top: 4rem;
  }
}