.plant-image {
  height: auto;
  border-radius: 10px;
  border: none;
}

.user-plants {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 0 1rem;
}

.task-counter {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.5rem 0 0.2rem 0;
}

.task-results {
  margin-top: 0.5rem;
}

.user-plant {
  font-size: 0.8rem;
  font-weight: 500;
}

.plant-info-bar {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.75rem;
  font-weight: 600;
}

.task-element {
  display:  flex;
  flex-direction: column;
  padding: 0 1rem;
}

.task-result-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
}

.task-selector {
  margin-right: 1rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
  border-radius: 100%;
  padding: 0;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.224);
}

.task-line-seperator {
  width: 90%;
}

.plant-task-image-container {
  min-width: 3rem; 
  height: 3rem;
  display: flex; 
  justify-content: center;
  align-items: center; 
  margin-right: 0.8rem;
}

.plant-task-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.plant-task-text {
  width: 85%;
}

.info-bar-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-top: 0.5rem;
}

.edit-plant-log-container {
  justify-self: flex-end;
}

.plant-info-bar {
  width: 100%;
}

.edit-plant-log-button {
  background-color: rgba(255, 255, 255, 0.224);
  margin-right: 0.5rem;
  width: auto;
  text-align: center;
  border-radius: 10px;
  font-size: 0.75rem;
}
.plant-image-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.edit-plant-buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  position: absolute;
  top: 10px;
}

.plant-select-button {
  display: 'none';
  padding: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.new-modal,
.modal-form {
  display: flex;
  flex-direction: column;
}

.new-input {
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.224);
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
}

.submit-btn {
  background-color: #FCFAF7;
  color: black;
}

.plant-log-tag {
  width: auto !important;
  padding: 0.4rem 0.6rem;
  margin: 0.5rem 0;
  margin-right: 0.5rem;
}

.edit-tag-buttons {
  display: flex;
  width: 110%;
  align-self: center;
  justify-content: space-between;
}

.delete-tag-btn {
  background-color: rgba(255, 255, 255, 0.224);;
  color: #FCFAF7;
}

.user-plant {
  position: relative;
  margin-bottom: 1rem;
}

.pin-icon-container {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10%;
  height: auto;
}

.pin-icon-img {
  width: 100%;
}

.select-menu {
  margin-top: 5rem;
  z-index: 1;
}

.task-select-container {
  padding-left: 1rem;
}

.task-select {
  margin-right: 0.5rem;
  font-weight: 100;
  font-size: 0.8rem;
}

.to-do-select {
  font-weight: 600;
}

.task-count-icon {
  position: absolute;
  background-color: #1e310b;
  text-align: center;
  color: rgba(255, 255, 255, 0.825);
  font-size: 0.7rem;
  font-weight: 600;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  top: -10px;
  right: -5px;
  line-height: 1.2rem;
}

#log-tasks {
  position: relative;
}