#plant-quiz {
  display: flex;
  flex-direction: column;
}

.quiz-container h1 {
  padding-left: 1rem;
}

.quiz-container {
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  color: black;
  overflow: hidden;
  max-width: 100vw;
}

.quiz-container {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 1rem;
  height: auto;
  margin: 0 1rem 1rem 1rem;
  border-radius: 10px;
  color: white;
  margin-top: 1rem;
  /* box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.2); */
  border: 1px solid rgba(255, 255, 255, 0.558);
}

.start-quiz-btn,
.more-info-btn {
  margin-top: 0.8rem;
  padding: 0.7rem 5rem;
  background-color: rgb(224, 153, 22);
  color: black;
}

.more-info-btn {
  background-color: rgba(175, 172, 162, 0.5);
  color: white;
}

.choice-btn {
  background-color: rgb(224, 153, 22);
  color: black;
}

.quiz-banner-container {
  height: auto;
  width: 90%;
  padding: 1rem;
}

.quiz-banner {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.2);
}

/* .plant-image-container {
  align-self: center;
  height: auto;
  width: 100%;
  margin-bottom: 0.2rem;
} */

.plant-image {
  height: 100%;
  width: 100%;
}

.card-image-container {
  height: auto;
  width: 100%;
  margin-top: 0.5rem;
}

.card-image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.plant-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.7rem;
  margin: -0.5rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.558);
}

.card-container {
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  margin: 0.5rem 0 2rem 0;
}

.card-title {
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.card-subtitle {
  font-weight: 200;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.quiz-subheader {
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.quiz-description {
  margin-bottom: 1rem;
  font-weight: 200;
}

.question-title {
  font-size: 1rem;
  font-weight: 600;
  padding-left: 0;
}

.choice-btn-container {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
}

.restart-quiz-btn {
  color: white;
}

.result-image-container {
  width: 50%;
}

.result-image-container img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  object-fit: cover;
}

.result-container {
  text-align: center;
  color: white;
  margin-top: 1.5rem;
}

.result-title {
  font-weight: 500;
  margin-top: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .card-container {
    display: none;
  }

  .section-title {
    align-self: center;
  }

  .quiz-container {
    margin-top: 3rem;
    margin-bottom: 0;
  }

  .start-quiz-btn {
    cursor: pointer;
    width: 30%;
    padding: 1rem 0.5rem;
    align-self: center;
  }

  .start-quiz-btn:hover,
  .choice-btn:hover {
    background-color: rgb(249, 169, 21);
  }

  .choice-btn,
  .result-image-container img {
    cursor: pointer;
  }

  .restart-quiz-button {
    min-width: 3%;
    max-width: 3%;
  }

  .plant-quiz-result-page {
    display: none;
  }
}