header {
  height: 40vh;
  position: relative;
  background-size: cover;
  background-position-y: -1rem;
  display: flex;
  flex-direction: column;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.header-logo {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 1rem;
  margin-top: 2rem;
}

.header-logo img {
  width: 75%;
}

.cta-btn {
  padding: 1rem 2.5rem;
  background-color: #f1f4ee1c;
  border: none;
  color: white;
  margin-top: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #c2ff6d;
  cursor: pointer;
}

.cta-btn:hover,
.cta-btn:active {
  background-color: rgba(0, 0, 0, 0.105);
}

.header-title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F1F4EE;
}



.about-section {
  padding: 1rem;
  margin-top: 1rem; 
  display: flex;
  flex-direction: column;
}

.section-title {
  display: flex;
  align-items: center;
}

.section-title h1 {
  margin: 0 0.8rem 0 0.4rem;
  font-size: 1.5rem;
  font-style: italic;
  letter-spacing: 0.1rem;
  min-width: 60%;
}

.title-box {
  height: 3.12rem;
  width: 1.25rem;
  background-color: #237A5C; /* rgb(242, 178, 60); */
}

.underline {
  height: 0.1rem;
  background-color: #3E4826;
}

.title-line {
  width: 8rem;
}

.welcome-text {
  margin-top: 1rem;
}

.text-photo-group {
  display: flex;
  padding-top: 2rem;
}

.text-photo-group p {
  padding-right: 1rem;
  font-style: italic;
}

.icon-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon-description {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.icon-text {
  display: flex;
  align-items: center;
  margin-left: -0.5rem;
}

.icon-text p {
  border: 3px #dcb465 solid;
  /* background-color: #dcb465; */
  /* box-shadow: 0 0 0px #823A12; */
  padding: 0.6rem;
  border-radius: 10px;
  min-width: 90%;
  letter-spacing: 1px;
  line-height: 1.3rem;
}

.icon-line {
  min-width: 1rem;
  margin-right: 1rem;
}

.icon-container {
  max-width: 30%;
  max-height: 100%;
  align-self: center;
}

.icon-container img {
  width: 70%;
}

.image-container {
  width: 150%;
  margin-right: -1rem;
  align-self: center;
  margin-bottom: 1rem;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

.discover-btn {
  padding: 1rem 2rem;
  margin-top: 0.5rem;
  border-radius: 10px;
  border: 2px #237A5C solid;
  box-shadow: 0 0 10px #193A31;
  background-color: #237A5C;
  color: white;
  font-weight: bold;
  letter-spacing: 0.1rem;
  align-self: center;
  cursor: pointer;
}

.plant-bud-logo-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.plant-bud-logo-container img {
  width: 10%;
}