body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #FFEEE0;
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 0.05rem;
  height: 100vh;
}

p, h1 {
  margin: 0;
}

header {
  background-image: url('../../public/background-image.png');
}

.menu-bars {
  position: absolute;
  margin: 1rem;
  cursor: pointer;
  z-index: 1;
}

.menu-bar {
  height: 0.18rem;
  width: 1.56rem;
  background-color: #F1F4EE;
  border-radius: 5px;
  margin-top: 0.3rem;
}

.mobile-nav-modal {
  height: 100vh;
  width: 100vw;
  background-color: #193A31;
  color: #F1F4EE;
  position: fixed;
  z-index: 1;
  padding: 0.5rem 0 0 1.5rem;
  display: none;
}

.show {
  display: block;
}

.mobile-nav-modal p {
  text-align: center;
  margin: 1rem 0;
  width: 5%;
}

.mobile-nav-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav-item {
  margin-bottom: 0.5rem;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #193A31;
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0 0 1rem;
  color: #F1F4EE;
  justify-self: flex-end;
}

.footer-menu-items {
  list-style: none;
  padding: 0;
}

.footer-menu-item {
  margin: 0.8rem 0;
  font-size: 0.8rem;
}

.copyright {
  padding: 1rem 0 1.5rem 0;
  font-size: 0.8rem;
}