body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #193A31;
  color: #fcfaf7;
  font-family: 'Montserrat';
}

.content {
  flex: 1;
}

footer {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 40px;
  margin: 1rem;
  margin-bottom: 0;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.dashboard-nav-items {
  display: flex;
  justify-content: center;
  padding: 0;
}

.dashboard-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 100%;
  border: none;
  margin: 0 1rem;
}

.icon-container {
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
}

.plant-icon-container {
  background-image: url('../../public/footer-nav-icons/plant.png');
}

.add-icon-container {
  background-image: url('../../public/footer-nav-icons/add.png');
}

.discover-icon-container {
  background-image: url('../../public/footer-nav-icons/search.png');
}

.profile-icon-container {
  background-image: url('../../public/footer-nav-icons/profile.png');
}

/* temporary button styling */
.profile-btn {
  background-color: rgba(128, 128, 128, 0.3);
}