body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
  color: #fcfaf7;
  font-family: 'Montserrat';
  letter-spacing: 0.8px;
  font-size: 0.9rem;
  background-image: url('../../images/main/background-image.png');
}

h1, p {
  margin: 0;
}

.plantbud-logo {
  width: 90%;
  margin-bottom: 1rem;
}

.plantbud-logo img {
  width: 100%;
}

input {
  color: #fcfaf7;
  margin-bottom: 0.8rem;
  background-color: rgba(255, 255, 255, 0.224);
  padding: 0.7rem;
  border: none;
  border-radius: 7px;
  width: 100%;
}

input::placeholder {
  color: rgba(252, 250, 247, 0.8);
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  flex-grow: 1;
}

.login-container h1 {
  margin-bottom: 1rem;
}

.login-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 0.5rem;
}

button {
  background-color: orange;
  padding: 0.7rem 1rem;
  width: 100%;
  text-align: center;
  border-radius: 7px;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: black;
  letter-spacing: 1px;
  border: none;
}

#signup-button {
  background-color: transparent;
  color: white;
}

.copyright {
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.login-error-message {
  color: orange;
  margin-top: 1rem;
  text-align: center;
}