header {
  background-size: cover;
}

.header-logo {
  display: flex;
  justify-content: center;
  padding: 1rem 0 2rem 0;
}

.header-logo img {
  width: 50%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.plant-log-title {
  margin: 1rem 0;
  /* display: none; */
}

.add-new-plant-btn {
  padding: 3rem;
  background-color: #8F4721;
  color: white;
  border: none;
  box-shadow: 0 0 10px #823A12;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 0.8rem;
  position: relative;
}

.add-new-plant-btn:hover,
.add-new-plant-btn:active {
  background-color: #cd7647;
  box-shadow: 0 0 10px #823A12;
}

.add-new-plant-btn {
  /* display: none; */
}

.user-plants {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
  padding-bottom: 3rem;
  position: relative;
}

.user-plants h1 {
  font-size: 1rem;
}

.plant-image-container {
  width: 100%;
  position: relative;
  text-align: center;
}

.plant-image-container img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sub-header {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.edit-plant-notes {
  margin-top: 2rem;
}